body {
    background-color: rgb(34, 34, 34);
    align-items: center;
}

h1 {
    text-align: center;
    color: aliceblue;
    font-size: large;
}

main {
    width: 500px;
    height: 10000px;
    background-color: aqua;
}